<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css"
    integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
  <link href="https://cdn.jsdelivr.net/npm/vue-loading-overlay@3/dist/vue-loading.css" rel="stylesheet">
  <style>
    .btn {
      position: relative;
    }

    .btn-cart .badge {
      position: absolute;
      top: -1px;
      right: -1px;

    }

    .jumbotron-bg {
      background-image: url(https://images.unsplash.com/photo-1550944862-82305e47d898?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80);
      background-size: cover;
      background-position: center center;
      min-height: 400px;
    }

    .box-shadow{
    box-shadow: 0 3px 5px rgba(0,0,0,.16);
    transition: box-shadow .3s;
  }

  .box-shadow:hover{
    box-shadow: 0 4px 10px rgba(0,0,0,.24);
  }
  </style>
</head>

<body>

  <div id="app">
    <!-- loading 套件 start -->
    <loading :active.sync="isLoading"></loading>
    <!-- loading 套件 end -->

    <nav class="navbar navbar-light bg-light">
      <a class="navbar-brand" href="/購物網頁簡介.html">
        <i class="fas fa-paw text-info"></i>
        可愛公仔王國
      </a>
      <!-- 購物車 -->
      <div class="dropdown ml-auto">
        <button class="btn btn-sm btn-cart" data-toggle="dropdown" data-flip="false">
          <i class="fas fa-shopping-cart fa-2x text-dark" aria-hidden="true"></i>
          <span class="badge badge-pill badge-danger">{{ cart.length}}</span>
        </button>
        <!-- dropdown內容 -->
        <div class="dropdown-menu dropdown-menu-right" style="min-width: 500px;">
          <div class="px-4 py-3">
            <h6 class="text-center">購物車</h6>
            <div class="text-right">
              <button type="button" class="btn btn-sm btn-outline-danger"
              @click="removeAllItem"
              >刪除全部商品</button>
            </div>
            <table class="table text-center mt-3">
              <thead>
                <th>刪除</th>
                <th>品名</th>
                <th>數量</th>
                <th>單價</th>
              </thead>
              <tbody v-if="cart.length">
                <tr v-for="item in cart" :key="item.product.id">
                  <td class="align-middle text-center">
                    <a href="#" class="text-muted" @click.prevent="removeCartItem(item.product.id)">
                      <i class="far fa-trash-alt " aria-hidden="true"></i>
                    </a>
                  </td>
                  <td class="align-middle">{{item.product.title}}</td>
                  <td class="align-middle">{{item.quantity}}</td>
                  <td class="align-middle text-right"> $ {{item.quantity * item.product.price}}</td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <td colspan="3" class="text-right">
                    總計
                  </td>
                  <td class="text-right">
                    <strong>{{ cartTotal }}</strong>  
                  </td>
                </tr>
              </tfoot>
            </table>
            <a href="./week5HWCheckout.html" class="btn btn-primary btn-block">結帳去</a>
          </div>
        </div>
      </div>
    </nav>
    <!-- jumbo -->
    <div class="jumbotron jumbotron-fluid jumbotron-bg d-flex align-items-end">
      <div class="container">
        <div class="bg-lighter py-3">
        </div>
      </div>
    </div>

    <!-- 產品列表 -->
    <!-- 主要內容 -->
    <div class="container">
      <div class="row">
        <div class="col-md-3 ">
          <div class="list-group sticky-top" role="tablist">
            <a href="#" class="list-group-item list-group-item-action bg-info text-white">
              <i class="fas fa-stream"></i>
              產品列表
            </a>
            <a href="#" class="list-group-item list-group-item-action" data-toggle="list"
            >商品</a>
          </div>
        </div>
        <!-- 內容 -->
        <div class="col-md-9">
          <div class="tab-content">
            <div class="tab-pane active" id="item.category" role="tabpanel">
              <div class="row">
                <div class="col-md-4 mb-4" v-for="item in products" :key="item.id">
                  <div class="card text-center h-100 border-0 box-shadow">
                    <div style="height: 150px; background-size: cover; background-position: center"
                      :style="{backgroundImage: `url(${item.imageUrl})`}"></div>
                    <div class="card-body">
                      <h5 class="card-title">{{item.title}}</h5>
                      <p class="card-text">{{item.content}}</p>
                      <div >
                        <!-- 售價(price)欄位是可選的，因此售價若為空，就顯示原價(origin_price)
                          售價若不為空，就顯示原價(origin_price)與售價(price) -->
                        <div v-if="!item.price" class="h5">
                          {{ item.origin_price }} 元
                        </div>
                        <div v-else class="d-flex justify-content-between align-items-baseline">
                          <del class="h6 text-muted">原價 {{ item.origin_price }} 元</del>
                          <div class="h5">
                            售價 <span class="text-danger">{{ item.price }}</span> 元
                          </div>
                        </div>
                      </div>

                    </div>
                    <div class="card-footer border-top-0 d-flex justify-content-between">
                      <button type="button" class="btn btn-outline-secondary btn-sm"
                        @click="getDetailed(item.id)" :disabled="status.loadingItem === item.id">
                        <i class="fas fa-spinner fa-spin" v-if="status.loadingItem === item.id"></i>
                        查看詳情
                      </button>
                      <button type="button" class="btn btn-outline-info btn-sm" 
                        @click="addToCarts(item)">
                        <i class="fas fa-spinner fa-spin" v-if="status.loadingItem === item.id"></i>
                        加到購物車
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
    
        </div>
      </div>
    </div>

    <!-- 產品細節modal -->
    <div id="productModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 id="exampleModalLabel" class="modal-title">
              {{ tempProduct.title }}
            </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <img :src="tempProduct.imageUrl" class="img-fluid" alt>
            <blockquote class="blockquote mt-3">
              <p class="mb-0" v-html="tempProduct.content"></p>
              <footer class="blockquote-footer text-right">
                {{ tempProduct.description }}
              </footer>
            </blockquote>
            <div class="d-flex justify-content-between align-items-baseline">
              <div v-if="!tempProduct.price" class="h4">
                {{ tempProduct.origin_price }} 元
              </div>
              <del v-if="tempProduct.price" class="h6">原價 {{ tempProduct.origin_price }} 元</del>
              <div v-if="tempProduct.price" class="h4">
                現在只要 {{ tempProduct.price }} 元
              </div>
            </div>
            <select v-model="tempProduct.num" name class="form-control mt-3">
              <option v-for="num in 10" :key="num" :value="num">
                選購 {{ num }} {{ tempProduct.unit }}
              </option>
            </select>
          </div>
          <div class="modal-footer">
            <div v-if="tempProduct.num" class="text-muted text-nowrap mr-3">
              小計
              <strong>{{ tempProduct.num * tempProduct.price }}</strong> 元
            </div>
            <button type="button" class="btn btn-primary" 
            @click="addToCarts(tempProduct, tempProduct.num)"
            >
            <i v-if="tempProduct.id === status.loadingItem" class="fas fa-spinner fa-spin"></i>
              加到購物車
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- 產品詳細 Modal end -->

  </div>



  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
    </script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
    </script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue-loading-overlay@3"></script>
  <!-- https://cdnjs.com/libraries/vee-validate 注意版本，full 則包含 rules -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vee-validate/3.3.0/vee-validate.full.min.js"></script>
  <script type="module">

    // 掛載 Vue-Loading 套件
    Vue.use(VueLoading);
    // 全域註冊 VueLoading 並標籤設定為 loading
    Vue.component('loading', VueLoading);


    new Vue({
      el: '#app',
      data() {
        return {
          products: [],
          tempProduct:{},
          cart:{},
          cartTotal: 0,
          status:{
            loadingItem:'',

          },
          isLoading: false,
          uuid: 'b2a0a13b-3f39-4e27-abe0-72d7b7e3eda8',
          apiPath: 'https://course-ec-api.hexschool.io',
        }
      },
      methods: {
        getProducts() {
          const vm = this;
          const api = `${vm.apiPath}/api/${vm.uuid}/ec/products`;
          vm.isLoading = true;
          axios.get(api)
            .then((res) => {
              console.log(res)
              vm.products = res.data.data;
              vm.isLoading = false;
            })
            .catch((err) => {
              console.log(err)
            })
        },
        getDetailed(id){
          const vm = this;
          const api = `${vm.apiPath}/api/${vm.uuid}/ec/product/${id}`;
          vm.status.loadingItem = id;
          axios.get(api)
            .then((res) => {
              console.log(res)
              vm.tempProduct = res.data.data;
              // 由於 tempProduct 的 num 沒有預設數字
              // 因此 options 無法選擇預設欄位，故要增加這一行解決該問題
              // 另外如果直接使用物件新增屬性進去是會雙向綁定失效，因此需要使用 $set
              vm.$set(vm.tempProduct, 'num', 1);
              $('#productModal').modal('show')
              vm.status.loadingItem = '';
            })

        },
        addToCarts(item, quantity = 1){
          const vm = this;
          const api = `${vm.apiPath}/api/${vm.uuid}/ec/shopping`;
          vm.status.loadingItem = item.id;
          const cart = {
            product: item.id,
            quantity,
          };
          axios.post(api, cart)
            .then((res) => {
              console.log(res)
              vm.status.loadingItem = '';
              vm.getCart();
              $('#productModal').modal('hide');
            })
            .catch((error) => {
              this.status.loadingItem = '';
              console.log(error.response.data.errors);
              $('#productModal').modal('hide');
            });

        },
        getCart(){
          const vm = this;
          const api = `${vm.apiPath}/api/${vm.uuid}/ec/shopping`;
          vm.isLoading = true;
          axios.get(api)
            .then((res) => {
              console.log(res)
              vm.cart = res.data.data
              // 累加總金額
              vm.cart.forEach((item) => {
                vm.cartTotal += (item.product.price * item.quantity);
              });
              vm.isLoading = false;
            })

        },
        removeCartItem(id){
          const vm = this;
          const api = `${vm.apiPath}/api/${vm.uuid}/ec/shopping/${id}`;
          vm.isLoading = true;
          axios.delete(api)
            .then((res) => {
              // console.log(res)
              vm.getCart();
              vm.isLoading = false;
            })
            .catch((error) => {
              vm.isLoading = false;
              console.log(error.response.data.errors);
              
            });

        },
        removeAllItem(){
          const vm = this;
          const api = `${vm.apiPath}/api/${vm.uuid}/ec/shopping/all/product`;
          vm.isLoading = true;
          axios.delete(api)
            .then((res) => {    
              // console.log(res)
              vm.getCart();
              vm.isLoading = false;
            })

        }

      },
      created() {
        this.getProducts();
        this.getCart();
        
      },
    })

  </script>
</body>

</html>